/* Begin Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Resets */

body {
	font: normal 12px "Lucida Grande", Helvetica, sans-serif;
	background-color: #FAFAF5;
}
header {
	padding: 20px;
	background-color: #485B61;
	color: #FFF;
	-moz-box-shadow: 0 1px 3px #888;
	-webkit-box-shadow: 0 1px 3px #888;
	box-shadow: 0 1px 3px #888;
}
h1 {
	font-size: 20px;
}
.clear {
	clear: both;
}
#report-results {
	padding: 20px 20px 0 20px;
}
#report-results ul {
	background: #EEE;
	border: 1px solid #CCC;
	padding: 10px 20px;
}
#report-results ul li{
	padding: 5px 0;
}
#mainActions {
	padding: 20px 20px 0 20px;
}
#mainActions a {
	float: right;
	padding-left: 10px;
	font-style: italic;
}
.feature {
	padding: 5px 20px;
	color: green;
	margin: 3px 0;
}
.feature > .title {
	background: #CFFC83 url('images/arrow.png') no-repeat 5px 50%;
	border: 1px solid #A4E56D;
	padding: 5px 10px 5px 20px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.feature > .title.open {
	background-image: url('images/side-arrow.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.feature .date {
	float: right;
	font-style: italic;
	font-size: 11px;
	font-weight: normal;
}
.scenario {
	color: green;
	margin: 3px 0;
}
.scenario > .title {
	background: #CFFC83 url('images/arrow.png') no-repeat 5px 50%;
	border: 1px solid #A4E56D;
	padding: 5px 10px 5px 20px;
	cursor: pointer;
	font-weight: bold;
}
.scenario > .title.open {
	background-image: url('images/side-arrow.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.scenario > .content {
	padding-left: 5px;
}
.step {
	color: green;
	margin: 3px 0;
}
.step > .title {
	background: #DFF8B5 url('images/arrow.png') no-repeat 5px 50%;
	border: 1px solid #B4F743;
	padding: 5px 10px 5px 20px;
	cursor: pointer;
}
.step > .title.open {
	background-image: url('images/side-arrow.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.step > .content {
	padding-left: 10px;
	display: none;
}
.action, .task {
	color: #ADAD0B;
	margin: 3px 0;
	background-color: #FCFCBF;
	border: 1px solid #F5F532;
	padding: 5px 10px;
}
.action, .info {
	display: none;
}
.screenshot {
	color: #559FCF;
	margin: 3px 0;
	background-color: #E1F6FA;
	border: 1px solid #BFECEC;
	padding: 5px 10px;
}
.screenshot a {
	color: #559FCF;
}
.feature > .warn, .scenario > .warn, .step > .warn, .warn {
	color: #D18E14;
	margin: 3px 0;
	background-color: #F5EE9C;
	border: 1px solid #EECB8E;
	padding: 5px 10px;
}
.feature > .warn, .scenario > .warn, .step > .warn {
	padding: 5px 10px 5px 20px;
}
.feature > .error, .scenario > .error, .step > .error, .action.error, .task.error {
	display: block;
	color:#E93C3C; 
	background-color: #FAE5E5;
	border: 1px solid #F1C7C7;
}
#no-failed-scenarios, #no-warning-scenarios {
	padding: 20px;
	display: none;
}